{% extends "_layouts/cp" %}

{% set title  = "Settings" %}

{% set subnav = {
  defaults: {
    label: "Defaults"|t,
    url: cpUrl('sproutseo/defaults')
  },
  sitemap: {
    label: "Sitemap"|t,
    url: cpUrl('sproutseo/sitemap'),
  },
  redirects: {
    label: "Redirects"|t,
    url: cpUrl('sproutseo/redirects'),
  }
} %}

{% if currentUser.can('editSproutSeoSettings') %}
  {% set subnav = subnav|merge({
    settings: {
      label: "Settings"|t,
      url: url('sproutseo/settings/general')
    }
  }) %}
{% endif %}

{% set selectedSubnavItem = craft.request.segment(2) ? craft.request.segment(2) : 'defaults' %}
{% set selectedSidebarItem = craft.request.segment(3) %}

{% set fullPageForm = true %}

{% block saveButton %}{% endblock %}

{% set sidebar %}

  <nav class="last">
    <ul>
      <li><a href="{{ url('sproutseo/settings/general') }}" {% if selectedSidebarItem == 'general'
        %}class="sel"{% endif %}>General Settings</a></li>
      <li><a href="{{ url('sproutseo/settings/defaults') }}" {% if selectedSidebarItem == 'defaults' %}class="sel"{%
        endif
        %}>Defaults</a></li>
    </ul>
  </nav>

{% endset %}
