{#
 # Workshop entry template
 # -------------------
 #
 # This template gets loaded whenever a Workshop entry’s URL is
 # requested. That’s because the Workshop section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested Workshop entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% do craft.sproutSeo.meta({
	title: entry.title ~ " - Proactivity Workshops",
	ogTitle: "Proactivity Workshop: " ~ entry.title,
}) %}

{% extends "_layout" %}

{% block content %}
	<article>
		{% include "_generic/content_matrix" %}
		<hr />
		<p><a class="back" href="{{ url('workshops.html') }}">Workshops</a></p>
	</article>
{% endblock %}
