{% set indexFilter = '' %}
{% for tag in entry.indexFilter %}
    {% set indexFilter = (indexFilter == '' ? 'filterTags:' : '') ~ indexFilter ~ (indexFilter != '' ? ' OR filterTags:' : '') ~ tag.title %}
{% endfor %}

{% set theseEntries = indexFilter == '' ? craft.entries.section('workshops') : craft.entries.section('workshops').search(indexFilter) %}

{% for workshop in theseEntries.find() %}
	<article>
		<h2><a href="{{ workshop.url }}">{{ workshop.title }}</a></h2>
		<p>{{ workshop.workshopOverview }} <a href="{{ workshop.url }}">Read more <span class="fa fa-angle-right"></span></a></p>
		<br />
        <br />
	</article>
{% endfor %}
