form,
fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

.errorBox,
.successBox {
    clear: left;
    background-repeat: no-repeat;
    background-position: 10px 15px;
    margin: 0px 0px 10px 0px;
    padding: 10px;
    color: #000000;
}
.errorBox {
    border: 1px solid #FF0000;
    background-color: #FFCCCC;
}
.successBox {
    border: 1px solid #99FF99;
    background-color: #DBFFDB;
}
.errorBox ul,
.errorBox li,
.successBox ul,
.successBox li {
    padding: 0;
    margin: 0;
}
.errorBox li,
.successBox li {
    margin-left: 25px;
    line-height: 2em;
    list-style: none;
}

img {
    border: 0;
}

label {
    cursor: pointer;
}

.autoShow {
    visibility: hidden;
}

a.iconLink {
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: left center;
}

input.iconButton {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 20px;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center middle;
    cursor: pointer;
    color: #003366;
    outline: none;
}

input.iconButton:hover {
    color: #336699;
}

input.search {
    border: 1px solid #CCCCCC;
    background-image: url(../img/search-bg.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding: 5px 0px 5px 26px;
    cursor: pointer;
    height: 16px;
    width: 200px;
}

.controlsLeft {
    float: left;
    clear: left;
}
.controlsRight {
    float: right;
    clear: right;
}
.controlsLeft,
.controlsRight {
    height: 30px;
    line-height: 30px;
    margin: 0px 0px 15px 0px;
    padding: 0;
}
.controlsLeft h1,
.controlsLeft h2,
.controlsLeft h3,
.controlsRight h1,
.controlsRight h2,
.controlsRight h3 {
    display: inline;
    font-weight: bold;
    margin: 0px 10px 0px 0px;
    padding: 0;
}
.controlsLeft h1,
.controlsRight h1 {
    font-size: 1.5em;
}
.controlsLeft h2,
.controlsRight h2 {
    font-size: 1.25em;
}
.controlsLeft h3,
.controlsRight h3 {
    font-size: 1em;
}
.controlsLeft ul,
.controlsRight ul {
    float: left;
}
.controlsLeft ul,
.controlsLeft li,
.controlsRight ul,
.controlsRight li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.controlsLeft li,
.controlsRight li {
    float: left;
    margin-left: 15px;
}
.controlsClear {
    clear: both;
}
.controlsBar {
    clear: left;
    border: 1px solid #CCCCCC;
    background-color: #EEEEEE;
    width: 100%;
    margin: 0px 0px 10px 0px;
    padding: 0;
}
.controlsBox {
    clear: both;
    border: 1px solid #DDDDDD;
    padding: 5px;
}

.tabBorder {
    clear: left;
}
.tabMenu {
    margin: 0 0 5px 0;
    padding: 0;
    list-style: none;
}
.tabMenu li {
    display: inline;
}
.tabMenu a:link,
.tabMenu a:active,
.tabMenu a:visited,
.tabMenu a:hover {
    margin: 0 5px 0 0;
    padding: 5px 12px;
    border: 1px solid #EEEEEE;
    border-bottom: 1px solid #DDDDDD;
    background-color: #EEEEEE;
    text-decoration: none;
}
.tabMenu a:hover {
    background-color: #F0F0F0 !important;
}
.tabMenu .active a:link,
.tabMenu .active a:active,
.tabMenu .active a:visited,
.tabMenu .active a:hover {
    background-color: #FFFFFF !important;
    border: 1px solid #DDDDDD !important;
    border-bottom: 1px solid #FFFFFF !important;
}
.tabContent {
    border: 1px solid #CCCCCC;
    padding: 10px;
}

.resultsLoading {
    height: 50px;
    width: 100%;
    background-image: url('../img/loading.gif');
    background-repeat: no-repeat;
    background-position: center center;
}

table th,
table td {
    padding: 0;
    margin: 0;
    border: 0;
}

table.spaced,
table.list {
    clear: left;
}

table.spaced th,
table.spaced td {
    padding: 5px;
    margin: 0;
    border: 0;
}

table.list {
    width: 100%;
    border: 1px solid #CCCCCC;
}
table.list thead tr th {
    font-weight: bold;
    background-color: #DDDDDD;
}
table.list th,
table.list td {
    padding: 7px 5px;
    margin: 0;
    border: 0;
}
table.list tr.rowA td {
    background-color: #FEFEFE;
}
table.list tr.rowB td {
    background-color: #EEEEEE;
}

.treeList,
.treeList li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.treeList ul {
    padding-left: 31px;
}
.treeList li {
    margin: 2px 0px;
}
.treeList table {
    border: 0;
}
.treeList td {
    background: #F0F0F0;
}
.treeList .toggleIcon img {
    cursor: pointer;
}

.news-article h2 {
	padding-bottom: 0.2em !important;
}
.news-article p {
	padding-top: 0.1em !important;
}

.coach-list img {
	float: left;
	margin-right: 20px;
    border:3px solid #23aeff;
}
.coach-list div {
	background: #efefef;
	float: left;
	display: block;
	width: 106px;
	height: 106px;
	margin-bottom: 15px;
	margin-right: 15px;
}
.coach-list h2 {
	padding-top: 5px !important;
}
.coach-list ul,
.coach-list li {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.coach-deatil .left {
	float: left;
	margin-bottom: 10px;
}
.coach-detail .right {
	max-width: 420px;
	float: left;
	margin-left: 20px;
	margin-bottom: 10px;
}

a.autozoom {
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
}

.service-icons .fa {
	font-size: 4em;
	margin-top: 20px;
}


/* CollagePlus Interractive Client Logos */

.Collage{
    padding:10px;
}

.Collage img{
    margin:0;
    padding:0;
    display:inline-block;
    vertical-align:bottom;
    opacity:1;
    border:6px solid #FFF;
}


.Image_Wrapper{
    opacity:0;
    -moz-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}


.Caption{
    font-size:14px;
    font-weight:normal;
    font-family:arial;
}

.Caption_Content {
    font-weight: bold;
    color:#FFF;
    padding:20px;
	font-size: 12px;
}

.Caption_Content a {
	color: #fff !important;
	padding: 4px 6px;
	border-radius: 4px;
}

.Caption_Content a:visited, .Caption_Content a:active, .Caption_Content a:link {
	background-color: #23aeff !important;	
}

.Caption_Content a:hover {
	background-color: #4bbdff !important;
}


/* CollagePlus Transitions */

/*

A library of transitions for revealing the loaded images
(Heavily) Inspired by http://tympanus.net/codrops/2013/07/02/loading-effects-for-grid-items-with-css-animations/

*/

.effect-parent {
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
    }


/* EFFECT 1 */
.effect-1 {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50% -300px;
    -moz-transform-origin: 50% 50% -300px;
    transform-origin: 50% 50% -300px;
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    -webkit-animation: fly ease-in-out forwards;
    -moz-animation: fly ease-in-out forwards;
    animation: fly ease-in-out forwards;
}
@-webkit-keyframes fly {
    100% { -webkit-transform: rotateX(0deg); opacity: 1; -webkit-transform-origin:50% 50% 0; }
}

@-moz-keyframes fly {
    100% { -moz-transform: rotateX(0deg); opacity: 1; -moz-transform-origin:50% 50% 0; }
}

@keyframes fly {
    100% { transform: rotateX(0deg); opacity: 1; transform-origin:50% 50% 0; }
}



/* EFFECT 2 */
.effect-2 {
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    transform: translateY(200px);
    -webkit-animation: moveUp ease forwards;
    -moz-animation: moveUp ease forwards;
    animation: moveUp ease forwards;
}

@-webkit-keyframes moveUp {
    to { -webkit-transform: translateY(0); opacity: 1; }
}

@-moz-keyframes moveUp {
    to { -moz-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
    to { transform: translateY(0); opacity: 1; }
}


/* EFFECT 3 */
.effect-3 {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(400px) translateY(300px) rotateX(-90deg);
    -moz-transform: translateZ(400px) translateY(300px) rotateX(-90deg);
    transform: translateZ(400px) translateY(300px) rotateX(-90deg);
    -webkit-animation: fallPerspective ease-in-out forwards;
    -moz-animation: fallPerspective ease-in-out forwards;
    animation: fallPerspective ease-in-out forwards;
}

@-webkit-keyframes fallPerspective {
    100% { -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}

@-moz-keyframes fallPerspective {
    100% { -moz-transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}

@keyframes fallPerspective {
    100% { transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}


/* EFFECT 4 */
.effect-4 {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: rotateX(-80deg);
    -moz-transform: rotateX(-80deg);
    transform: rotateX(-80deg);
    -webkit-animation: flip ease-in-out forwards;
    -moz-animation: flip ease-in-out forwards;
    animation: flip ease-in-out forwards;
}

@-webkit-keyframes flip {
    100% { -webkit-transform: rotateX(0deg); opacity: 1; }
}

@-moz-keyframes flip {
    100% { -moz-transform: rotateX(0deg); opacity: 1; }
}

@keyframes flip {
    100% { transform: rotateX(0deg); opacity: 1; }
}


/* EFFECT 5 */
.effect-5 {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-animation: moveUp ease-in-out forwards;
    -moz-animation: moveUp ease-in-out forwards;
    animation: moveUp ease-in-out forwards;
}


/* EFFECT 6 */
.effect-6 {

    -webkit-transform:  scale(0.638) translate(-179px);
    -moz-transform:     scale(0.638) translate(-179px);
    transform:          scale(0.638) translate(-179px);

    -webkit-animation: moveUp ease-in-out forwards;
    -moz-animation: moveUp ease-in-out forwards;
    animation: moveUp ease-in-out forwards;
}





/* Universal durations */
.effect-duration-1{
    -webkit-animation-duration: .4s;
    -moz-animation-duration:    .4s;
    animation-duration:         .4s;
}
.effect-duration-2{
    -webkit-animation-duration: .5s;
    -moz-animation-duration:    .5s;
    animation-duration:         .5s;
}
.effect-duration-3{
    -webkit-animation-duration: .6s;
    -moz-animation-duration:    .6s;
    animation-duration:         .6s;
}
.effect-duration-4{
    -webkit-animation-duration: .7s;
    -moz-animation-duration:    .7s;
    animation-duration:         .7s;
}
.effect-duration-5{
    -webkit-animation-duration: .8s;
    -moz-animation-duration:    .8s;
    animation-duration:         .8s;
}
.effect-duration-6{
    -webkit-animation-duration: .9s;
    -moz-animation-duration:    .9s;
    animation-duration:         .9s;
}
.effect-duration-7{
    -webkit-animation-duration: .95s;
    -moz-animation-duration:    .95s;
    animation-duration:         .95s;
}
.effect-duration-8{
    -webkit-animation-duration: 1s;
    -moz-animation-duration:    1s;
    animation-duration:         1s;
}
.effect-duration-9{
    -webkit-animation-duration: 1.05s;
    -moz-animation-duration:    1.05s;
    animation-duration:         1.05s;
}
.effect-duration-10{
    -webkit-animation-duration: 1.1s;
    -moz-animation-duration:    1.1s;
    animation-duration:         1.1s;
}

/* Video embed */

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 0;
	height: 0;
	overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.video-container iframe {
	background: none transparent;	
}

.video-container.home {
	background-image: url('/img/proactivity-sports-incursions.jpg');
	background-repeat: no-repeat;
	background-position: center top;
}

.video-container.home > .slideshow {
	display: none;
}

.video-container.home iframe, .video-container.home object, .video-container.home embed {
	top: -110px;	
}


@media (min-width: 401px) {
	.slideshow {
		display: none;	
	}
}


@media (max-width: 940px) {
	
	.video-container.home iframe, .video-container.home object, .video-container.home embed {
		top: 0;	
	}
	
	.video-container.home {
		background-size: cover;
	}
}

@media (max-width: 400px) {
	
	.video-container.home {
		padding-bottom: 32%;	
	}
	
	.video-container.home > #video {
		display: none;	
	}
}

#middle {
	position: relative;
	z-index: 2;
	padding: 20px 10px 10px;
}

.middle-home {
	border-top: solid 5px #90d6ff;
}

.social {
    display: inline-block;
    margin: 0 5px;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    line-height: 40px;
}

.social-facebook {
    background: #3b5998;
}

.social-twitter {
    background: #4099FF;
}

.social-instagram {
    background: #517fa6;
}

.social .fa {
    line-height: 40px;
    color: #fff;
}