/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */


/* #Page Styles
================================================== */


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {

        }

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
                /*#header .menu { background:url(../img/menu-bg.png); text-align:center; margin-top:1em; }*/
                /*#header .menu table { text-align:center; width:100%; }*/
                /*#header .menu ul { text-align:center; float:none; list-style:none; display:inline-block; }*/
                /*#header .menu ul li { float:none; display:inline-block; !*border-right:1px solid #fff; border-left:1px solid #fff;*! }*/
                /*!*#header .menu ul li:first-child { border-left:2px solid #fff; }*/
                /*#header .menu ul li:last-child { border-right:2px solid #fff; }*!*/
                /*#header .menu a:link, #header .menu a:active, #header .menu a:visited, #header .menu a:hover { float:none; display:inline; background:none; text-align:center; }*/
		/*#header .menu ul li:hover { background:#B6E4FF; }*/
                /*#header .menu li.active a:link, #header .menu li.active a:active, #header .menu li.active a:visited, #header .menu li.active a:hover { background:none; }*/
                /*#header .menu li.active { background:#B6E4FF; }*/
		
		
                /*#content { padding-top:1.5em; }*/
          /**/
                /*#menu { height:auto; background:#90d6ff; text-align:center !important; }*/
                /*#menu li { float:none; width:auto; display:inline; background:none !important; clear:both !important; border:0 !important; border-bottom:1px solid #00f !important; }*/
		/*#menu li:hover { background:#23aeff !important; }*/
                /*#menu li a { background:none !important; width:auto; height:auto; padding:0 !important; margin:0; border-bottom:1px solid #23aeff !important; padding-top:5px !important; padding-bottom:5px !important; display:block; }*/
		/*#menu li a:hover { background:#B6E4FF !important; }*/
		/*#menu li a br { margin:0; padding:0; display:inline; }*/
                /*#menu a:hover {*/
                    /*display: block;*/
                    /*margin: 0px;*/
                    /*padding: 0;*/
                    /*background:none;*/
                    /*text-align: center;*/
                    /*font-weight: bold;*/
                    /*font-family: Georgia;*/
                    /*font-size: 0.98em;*/
                    /*color: #000;*/
                /*}*/
                /**/
                /*#menu a.primary-schools {*/
                    /*background-image:none;*/
                /*}*/
                /*#menu li.active a.primary-schools {*/
                    /*background-image: url(../img/primary-schools-active.png);*/
                /*}*/

                /*#menu a.oshc {*/
                    /*background-image: url(../img/oshc.png);*/
                /*}*/
                /*#menu li.active a.oshc {*/
                    /*background-image: url(../img/oshc-active.png);*/
                /*}*/

                /*#menu a.secondary-schools {*/
                    /*background-image: url(../img/secondary-schools.png);*/
                /*}*/
                /*#menu li.active a.secondary-schools {*/
                    /*background-image: url(../img/secondary-schools-active.png);*/
                /*}*/

                /*#menu a.birthday-parties {*/
                    /*background-image: url(../img/birthday-parties.png);*/
                /*}*/
                /*#menu li.active a.birthday-parties {*/
                    /*background-image: url(../img/birthday-parties-active.png);*/
                /*}*/

                /*#menu a.clubs-and-organisations {*/
                    /*background-image: url(../img/clubs-and-organisations.png);*/
                /*}*/
                /*#menu li.active a.clubs-and-organisations {*/
                    /*background-image: url(../img/clubs-and-organisations-active.png);*/
                /*}*/

                /*#menu a.pre-schools {*/
                    /*background-image: url(../img/pre-schools.png);*/
                /*}*/
                /*#menu li.active a.pre-schools {*/
                    /*background-image: url(../img/pre-schools-active.png);*/
                /*}*/

                /*#menu a.corporates {*/
                    /*background-image: url(../img/corporates.png);*/
                /*}*/
                /*#menu li.active a.corporates {*/
                    /*background-image: url(../img/corporates-active.png);*/
                /*}*/
                
                #middle #call { background-size:100%; }
                #side .content-image-bg { background-size:100%; }
                
                table { max-width:100% !important; }
                /*table td { display:block; }*/
                
                /* iframe { display:none; } */

        #content .party-item--info {
            width: 50%;
        }

        #content .party-item--image {
            width: 49%;
        }

        #content .party-item header:before {
            left: calc(50% - 63px);
        }

        #content .party-item.party-item--right header:before {
            right: calc(50% - 64px);
        }
                
    }

    @media only screen and (max-width: 640px) {
        #content .party-item header:before {
            display: none;
        }

        #content .party-item--info {
            position: static;
            float: none;
            width: 100%;
            text-align: left !important;
            padding: 10px 20px !important;
        }

        #content .party-item--image {
            width: 100%;
            position: static;
            min-height: 0;
        }

        #content .party-item--image img {
            height: auto;
            width: 100%;
            display: block;
        }

        #content .party-item--cta-button {
            position: static;
            margin: 20px auto 0;
        }

        #content .party--bullet-points {
            padding-left: 18px !important;
            /*background: white;
            margin: 10px -20px -10px;
            padding-left: 38px !important;
            color: #000;
            border: solid #ddd;
            border-width: 0 1px;
            font-weight: bold;
            padding-top: 20px;*/
        }

        #content .party--bullet-points li {
            list-style: disc !important;
        }

        #content .party--bullet-points li:after {
            display: none;
        }
    }

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
        .testimonial--in-page .testimonial--title-row .fa {
            vertical-align: middle;
        }

        .testimonial--in-page article {
            padding-left: 0;
        }

        .photo-gallery-item {
            width: 50%;
        }

        .photo-gallery--start-large .photo-gallery-item {
            width: 50%;
        }

        .photo-gallery--start-large .photo-gallery-item:nth-child(1) {
            width: 100%;
        }

    }

        @media only screen and (max-width: 400px) {  }


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/

