@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeue-Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/HelveticaNeue-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeue-Light.svg#7384ecabcada72f0e077cd45d8e1c705') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url('../fonts/HelveticaNeue-CondensedBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeue-CondensedBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeue-CondensedBold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/HelveticaNeue-CondensedBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeue-CondensedBold.svg#453667434e93dceb51173a1d61030e95') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

body {
	background-color: #0aa3dd;
	height: 100%;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

@media only screen and (min-width: 980px) {
    body {
        background-image: url(../img/body-bg-2.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-attachment: fixed;
        background-size: cover;
    }
}

body,td,th {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	color: #000000;
}

a:link,
a:active,
a:visited {
    color: #003366;
    text-decoration: none;
}

a:hover {
    color: #0033FF;
    text-decoration: underline;
}

#header {
    background-color: #fff;
    text-align: left;
    padding-top:20px;
    padding-bottom:20px;
    position: relative;
}

#header .logo {
    margin: 0px;
    text-align:center;
}


#header .logo {
    padding-left: 74px;
}

@media (min-width: 580px) {
    #header .logo {
        padding-left: 0;
    }
}

#header .logo img {
    border: 0 !important;
}

#banner {
    margin: 0px;
    padding:0px;
    text-align: left;
}

@media (min-width: 600px) {
	#banner {
    	height: 305px;
	}
}

/* #banner img {
	width: 940px;
	height: 300px;
} */

/* Mobile Menu + desktop mega menu
/* ======================================== */
#menu ul {
    margin: 0;
    padding: 0;
}

#menu li {
    list-style: none;
}

#menu > ul > li:hover > a {
    text-decoration: underline;
    position: relative;
}

#menu a {
    font-weight: bold;
    color: #fff;
    font-family: 'Helvetica Neue Bold', Arial;
    text-transform: uppercase;
    font-size: 1.2em;
    display: block;
    padding: 10px 20px;
}

#menu .fa-chevron-down {
    font-weight: 400;
    font-size: .6em;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    position: relative;
    top: -2px;
}

#menu a > .fa-chevron-circle-right, #menu .fa-chevron-down {
    display: none;
}

#main-nav-check, #menu .sub-nav-check {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

#menu_bg, #menu .mega-menu, #menu .sub-menu {
    background-color: #23aeff;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 17em;
    z-index: 1200;
    left: -17em;
    text-align: left;

    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition: -webkit-transform .25s ease;
    transition: transform .25s ease;
}

#main-nav-check:checked ~ #menu_bg, #menu .sub-nav-check:checked ~ .mega-menu, #menu .sub-nav-check:checked ~ .sub-menu {
    -webkit-transform: translate(17em,0);
    -ms-transform: translate(17em,0);
    transform: translate(17em,0);
}

#header .toggle {
    display: block;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -25px;
    background: #23aeff;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    padding: 10px;
}

#header .toggle .fa-bars {
    font-size: 1.3em;
}

#header .toggle .label {
    display: block;
    font-size: .7em;
    font-weight: bold;
    margin-top: 3px;
    text-transform: uppercase;
}

#menu .mega-menu > li img, #menu p {
    display: none;
}

#menu .toggle-sub {
    width: 44px;
    text-align: center;
    color: #fff;
    background: #1e9de6;
    padding: 10px;
    float: right;
    position: relative;
    z-index: 10;
}

#menu .back {
    padding: 10px 20px;
    background: #90d6ff;
    font-weight: bold;
}

#menu .back.close {
    text-align: right;
    padding: 0;
}

#menu .back.close label, #menu .close-all {
    font-size: 16px;
    padding: 10px 20px;
    background: #90d6ff;
    font-weight: normal;
    margin-bottom: 0;
    line-height: 1.6;
}

#menu .back .toggle {
    font-weight: bold;
    color: #003366;
}

#menu .close-all {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
}

@media (min-width: 940px) {
    #header {
        border-bottom: 5px solid #90D6FF;
        margin-top:10px;
    }

    #menu_bg, #menu .mega-menu, #menu .sub-menu {
        -webkit-transform: translate(0,0) !important;
        -ms-transform: translate(0,0) !important;
        transform: translate(0,0) !important;
    }

    #menu_bg {
        margin:0 auto;
        width: 100%;
        max-width: 980px;
        position: relative;
        left: auto;
        right: auto;
    }

    #menu {
        text-align: center;
    }

    #menu ul {
        display: inline;
    }

    #menu ul li {
        display: inline-block;
    }

    #menu ul li.dropdown:hover > a:after,
    #menu ul li.dropdown.show > a:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 8px 10px 8px;
        border-color: transparent transparent #90d6ff transparent;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -16px;
    }

    #menu a {
        padding: 10px 30px;
    }

    #menu .mega-menu {
        display: none;
        position: absolute;
        background: #caebff;
        border: 5px solid #90D6FF;
        z-index: 100;
        left: 20px;
        right: 20px;
        padding: 20px 10px;
        text-align: left;
        width: auto;
        top: auto;
        bottom: auto;
    }

    #menu .sub-menu {
        position: static;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
    }

    #menu ul li:hover .mega-menu,
    #menu ul li.show .mega-menu {
        display: block;
    }

    #menu .mega-menu li {
        display: block;
        float: none;
    }

    #menu .mega-menu > li {
        display: block;
        float: left;
        width: 25%;
        padding: 0 10px;
    }

    #menu a > .fa-chevron-circle-right, #menu .fa-chevron-down {
        display: inline-block;
    }

    #menu .mega-menu > li img {
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 10px;
    }

    #menu .mega-menu > li a {
        padding: 0;
        text-transform: none;
        line-height: 1;
    }

    #menu .mega-menu > li > a {
        color: #1f6d9a;
        font-size: 1.02em;
        padding-bottom: 10px;
        border-bottom: 1px solid #90D6FF;
        margin-bottom: 10px;
        display: block;
    }

    #menu .mega-menu > li a i {
        margin-right: 4px;
        font-size: .8em;
    }

    #menu .mega-menu > li li > a {
        color: #454545;
        font-size: 1em;
        padding: 10px 0;
        font-weight: normal;
    }

    #menu .mega-menu > li li:first-child > a {
        padding-top: 0;
    }

    #menu .mega-menu > li li:last-child > a {
        padding-bottom: 0;
    }

    #menu .mega-menu > li li > a i {
        margin-right: 5px;
        font-size: .8em;
    }

    #menu .mega-menu p {
        display: block;
        margin: 0;
        font-size: 1em;
        font-style: italic;
        color: #666666;
        line-height: 1.3;
    }

    #header .toggle, #menu .toggle, #menu .toggle-sub, #menu .back {
        display: none !important;
    }
}

@media (max-width: 939px) {
    body {
        margin-top: 97px;
    }

    #header {
        min-height: 102px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        border-bottom: 5px solid #90d6ff;
    }

    #header .logo img {
        max-width: 310px;
    }

    #menu_bg {
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    #main-nav-check:checked ~ #middle {
        overflow: hidden;
    }
}

@media (max-width: 425px) {
    body {
        margin-top: 83px;
    }

    #header {
        min-height: 88px;
    }

    #header .logo img {
        max-width: 230px;
    }
}

#menu_bg_bottom {
    margin:auto;
    max-width:980px;
    background-image: url(../img/menu-bg-bottom.png);
    background-repeat: no-repeat;
    background-position: top center;
    height:20px;
    width: 100%;
    margin-bottom: -15px;
}

#middle {
    background-color: #fff;
    min-height: 300px;
    padding:10px;
}

#testimonials h3, #social h3 {
    font-size: 1.4em;
    color:#666;
}

#testimonials li {
    color:#666;
}

#middle #call {
    margin-bottom: 5px;
    background: #1f6e9c;
    color:#fff;
}

#middle #call p {
    margin: 0px;
    padding: 10px 0px;
    font-size: 1.1em;
    line-height: 1.8em;
    vertical-align: middle;
    color:#fff;
}

#middle #call h2, #middle #call label {
    color:#fff;
}

#middle #call p strong {
    margin: 0px;
    padding: 0px 0px 0px 5px;
    font-size: 1.6em;
    vertical-align: top;
}

#middle #call a:link,
#middle #call a:active,
#middle #call a:visited,
#middle #call a:hover {
    color:#fff;
    text-decoration: none;
    cursor: pointer;
}

#side .content-image-bg {
    margin: 5px 0px 10px 0px;
    padding: 5px 0px;
    background-image: url(../img/side-bg.png);
    background-repeat: repeat-y;

    background-position: top right;
    font-size: 0.8em;
    text-align: left;
    color: #003366;
}

#side .content-white-bg {
    margin: 5px 0px 10px 0px;
    background-color:#fff;
    color: #333333;
}

#side .errorBox {
    margin: 10px 10px 0px 10px;
}

#side form {
    padding: 0px 10px 10px 10px;
}

#side form input {
    height: 2em;
    
}

#side form input[type='checkbox'] {
    height:1.0em;
    
}

#side label {
	color:#000;
	display: inline-block;
}

.fieldContent label {
	font-size:0.9em;
}

label {
        color:#000;
        display: inline-block;
}

form input {
    height:1.5em;
    
}

form input[type='checkbox'] {
    height:1.0em;
    
}

#side td {
    padding: 4px 3px;
}

#side h2 {
    font-size:1.5em;
    margin: 0px;
    padding: 10px 0px 0px 0px;
}

#side ul.news,
#side ul.news li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#side ul.news {
    padding: 10px 20px;
}

#side ul.news li {
    padding: 10px 0px 10px 0px;
    border-top: 1px dashed #FFF;
    font-size: 0.90em;
}

#side a.forward {
    background-image: url(../img/side-forward.png);
    background-repeat: no-repeat;
    padding-left: 22px;
}

#side td.fieldTitle {
    margin: 0px;
    padding: 9px 3px 5px 3px;
    background-color: transparent;
    border: 0px;
    
}

#side .fieldHeading td.fieldTitle {
    font-size: 1.2em;
}

#side .fieldText td.fieldTitle,
#side .fieldEmail td.fieldTitle,
#side .fieldTextarea td.fieldTitle,
#side .fieldCheckbox td.fieldTitle {
    font-size: 0.9em;
}

#side .fieldContent label {
	padding-left: 5px;
}

#side input {
    margin: 0px;
}

#side .fieldText input,
#side .fieldEmail input,
#side .fieldTextarea textarea,
#side .fieldTextarea input {
    min-width: 150px;
    max-width: 100%;
}


#side .submit {
    transition: background-color .3s;
    background-color:#23aeff;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0;
    border:1px solid #337fed;
    display:block;
    color:#fff;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:45px;
    width:100%;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #1570cd;
}
#side .submit:hover {
    cursor: pointer;
    background-color: #68c7ff
}

.submit:active {
    position: relative;
    top: 1px;
}

#side .request-a-catalogue {
    font-size: 0.75em;
}



#middle br.clear {
    margin: 0px;
    padding: 0px;
    height: 1px;
    clear: both;
}

#content {
    font-size: 1em;
    text-align: left;
    padding-bottom:3em;
}

#content p {
	margin: 0px;
	padding: 10px 0px 0px 0px;
    line-height: 1.5em;
}

#content ul {
    line-height: 1.6em;
    margin: 0px;
    padding: 10px 15px 0px 25px;
}

#content h1,
#content h2,
#content h3 {
	margin: 0px;
	padding: 20px 0px 0px 0px;
    font-family:'Helvetica Neue Bold', Arial;
    text-transform:uppercase;
    color:#003366;
}

#content :first-child {
	padding-top: 0px;
}

#content h1 {
    font-size: 2em;
}

#content h2 {
    font-size: 1.6em;
}

#content h3 {
    font-size: 1.3em;
}

#content .form .fieldTitle {
	padding: 10px;
}

#side .form .fieldHeading .fieldLabel {
    border: 0;
    background-color: transparent;
}

#content hr {
	clear: both;
	margin: 0px;
	padding: 0px;
	height: 20px;
	border: 0px;
	color: transparent;
	background-image: url(../img/hr.png);
	background-repeat: repeat-x;
}

#content a.back {
	background-image: url(../img/back.png);
	background-repeat: no-repeat;
	padding: 0px 0px 0px 22px;
}

#content a.forward {
	background-image: url(../img/forward.png);
	background-repeat: no-repeat;
	padding: 0px 0px 0px 22px;
}

#content .testimonials {
    background-image: url(../img/testimonials-bg.png);
    background-repeat: no-repeat;
    padding: 10px 15px 10px 15px;
    margin: 10px 0px 5px 0px;
    min-height: 200px;
}

#content .testimonials a.forward {
    float: right;
    padding-right: 20px;
}

#content #form39 {
    margin-top: 10px;
}

#content #form39 td {
    padding: 5px;
}

#footer {
    margin: 0px;
    padding: 10px;
    text-align: center;
    font-size: 0.75em;
    color: #EEEEEE;
}

#footer a:link,
#footer a:active,
#footer a:visited {
    color: #EEEEEE;
    text-decoration: none;
}

#footer a:hover {
    color: #EEEEEE;
    text-decoration: underline;
}

/* Feedback Form (form86) */
#form86 {
    margin-top: 30px;
}
#form86 .fieldLabel {
    display: none;
}
#form86 .fieldHeading .fieldLabel {
    display: table-cell;
}
#form86 .fieldContent {
    padding-left: 20px !important;
    padding-bottom: 20px !important;
}
#form86 .fieldText .fieldContent input {
}
#form86 .fieldHeading td {
    border: 0 !important;
    background: transparent !important;
}
#form86 tr:last-child td:first-child {
    display: none;
}
#form86 .submit {
    font-size: 1.2em;
    margin-top: 10px;
}

.field0 {
    display:none;
}



#testimonials li {
    font-size:0.9em;
    font-style:italic;
}


.bx-wrapper, .bx-viewport {
    border:0 !important;
    box-shadow:0 0 0 #fff !important;
    -webkit-box-shadow:0 0 0 #fff !important;
}



/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
    position: relative;
    margin: 0 auto 60px;
    padding: 0;
    *zoom: 1;
}

.bx-wrapper img {
    max-width: 100%;
    display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    border: solid #fff 5px;
    left: -5px;
    background: #fff;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(../img/bx_loader.gif) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
    left: 10px;
    background: url(../img/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
    right: 10px;
    background: url(../img/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
    background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
    background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
    text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(../img/controls.png) -86px -11px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(../img/controls.png) -86px -44px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666\9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
}

.bx-wrapper .bx-caption span {
    color: #fff;
    display: block;
    font-size: .85em;
    padding: 10px;
}

td.fieldLabel {
    width:0 !important;
}

#content i {
    font-size:4em;
}

#content a {
    color:#003366;
}

.sidebarForm .field {
	clear: both;
	padding-top: 5px;
    display: table;
    width: 100%;
    table-layout: fixed;
}
.sidebarForm .fieldLabel {
	width: 50px;
	text-align: right;
    line-height: 2em;
    display: table-cell;
}
.sidebarForm .input {
    display: table-cell;
    width: 100%;
    padding-left: 15px;
}

/*! PhotoSwipe main CSS by Dmitry Semenov | photoswipe.com | MIT license */
/*
	Styles for basic PhotoSwipe functionality (sliding area, open/close transitions)
*/
/* pswp = photoswipe */
.pswp {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
    z-index: 1500;
    -webkit-text-size-adjust: 100%;
    /* create separate layer, to avoid paint on window.onscroll in webkit/blink */
    -webkit-backface-visibility: hidden;
    outline: none; }
.pswp * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
.pswp img {
    max-width: none; }

/* style is added when JS option showHideOpacity is set to true */
.pswp--animate_opacity {
    /* 0.001, because opacity:0 doesn't trigger Paint action, which causes lag at start of transition */
    opacity: 0.001;
    will-change: opacity;
    /* for open/close transition */
    -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
    transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp--open {
    display: block; }

.pswp--zoom-allowed .pswp__img {
    /* autoprefixer: off */
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in; }

.pswp--zoomed-in .pswp__img {
    /* autoprefixer: off */
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab; }

.pswp--dragging .pswp__img {
    /* autoprefixer: off */
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing; }

/*
	Background is added as a separate element.
	As animating opacity is much faster than animating rgba() background-color.
*/
.pswp__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    will-change: opacity; }

.pswp__scroll-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }

.pswp__container,
.pswp__zoom-wrap {
    -ms-touch-action: none;
    touch-action: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }

/* Prevent selection and tap highlights */
.pswp__container,
.pswp__img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }

.pswp__zoom-wrap {
    position: absolute;
    width: 100%;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    /* for open/close transition */
    -webkit-transition: -webkit-transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
    transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp__bg {
    will-change: opacity;
    /* for open/close transition */
    -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
    transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp--animated-in .pswp__bg,
.pswp--animated-in .pswp__zoom-wrap {
    -webkit-transition: none;
    transition: none; }

.pswp__container,
.pswp__zoom-wrap {
    -webkit-backface-visibility: hidden; }

.pswp__item {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden; }

.pswp__img {
    position: absolute;
    display: block;
}

/*! PhotoSwipe Default UI CSS by Dmitry Semenov | photoswipe.com | MIT license */
/*
	Contents:
	1. Buttons
	2. Share modal and links
	3. Index indicator ("1 of X" counter)
	4. Caption
	5. Loading indicator
	6. Additional styles (root element, top bar, idle state, hidden state, etc.)
*/
/*

	1. Buttons
 */
/* <button> css reset */
.pswp__button {
    width: 44px;
    height: 44px;
    position: relative;
    background: none;
    cursor: pointer;
    overflow: visible;
    -webkit-appearance: none;
    display: block;
    border: 0;
    padding: 0;
    margin: 0;
    float: right;
    opacity: 0.75;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    -webkit-box-shadow: none;
    box-shadow: none; }
.pswp__button:focus,
.pswp__button:hover {
    opacity: 1; }
.pswp__button:active {
    outline: none;
    opacity: 0.9; }
.pswp__button::-moz-focus-inner {
    padding: 0;
    border: 0; }

/* pswp__ui--over-close class it added when mouse is over element that should close gallery */
.pswp__ui--over-close .pswp__button--close {
    opacity: 1; }

.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
    background: url(../img/default-skin.png) 0 0 no-repeat;
    background-size: 264px 88px;
    width: 44px;
    height: 44px; }

@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
    /* Serve SVG sprite if browser supports SVG and resolution is more than 105dpi */
    .pswp--svg .pswp__button,
    .pswp--svg .pswp__button--arrow--left:before,
    .pswp--svg .pswp__button--arrow--right:before {
        background-image: url(../img/default-skin.svg); }
    .pswp--svg .pswp__button--arrow--left,
    .pswp--svg .pswp__button--arrow--right {
        background: none; } }

.pswp__button--close {
    background-position: 0 -44px; }

.pswp__button--share {
    background-position: -44px -44px; }

.pswp__button--fs {
    display: none; }

.pswp--supports-fs .pswp__button--fs {
    display: block; }

.pswp--fs .pswp__button--fs {
    background-position: -44px 0; }

.pswp__button--zoom {
    display: none;
    background-position: -88px 0; }

.pswp--zoom-allowed .pswp__button--zoom {
    display: block; }

.pswp--zoomed-in .pswp__button--zoom {
    background-position: -132px 0; }

/* no arrows on touch screens */
.pswp--touch .pswp__button--arrow--left,
.pswp--touch .pswp__button--arrow--right {
    visibility: hidden; }

/*
	Arrow buttons hit area
	(icon is added to :before pseudo-element)
*/
.pswp__button--arrow--left,
.pswp__button--arrow--right {
    background: none;
    top: 50%;
    margin-top: -50px;
    width: 70px;
    height: 100px;
    position: absolute; }

.pswp__button--arrow--left {
    left: 0; }

.pswp__button--arrow--right {
    right: 0; }

.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
    content: '';
    top: 35px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 30px;
    width: 32px;
    position: absolute; }

.pswp__button--arrow--left:before {
    left: 6px;
    background-position: -138px -44px; }

.pswp__button--arrow--right:before {
    right: 6px;
    background-position: -94px -44px; }

/*
	2. Share modal/popup and links
 */
.pswp__counter,
.pswp__share-modal {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.pswp__share-modal {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    position: absolute;
    z-index: 1600;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-out;
    transition: opacity 0.25s ease-out;
    -webkit-backface-visibility: hidden;
    will-change: opacity; }

.pswp__share-modal--hidden {
    display: none; }

.pswp__share-tooltip {
    z-index: 1620;
    position: absolute;
    background: #FFF;
    top: 56px;
    border-radius: 2px;
    display: block;
    width: auto;
    right: 44px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    -webkit-transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    -webkit-backface-visibility: hidden;
    will-change: transform; }
.pswp__share-tooltip a {
    display: block;
    padding: 8px 12px;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px; }
.pswp__share-tooltip a:hover {
    text-decoration: none;
    color: #000; }
.pswp__share-tooltip a:first-child {
    /* round corners on the first/last list item */
    border-radius: 2px 2px 0 0; }
.pswp__share-tooltip a:last-child {
    border-radius: 0 0 2px 2px; }

.pswp__share-modal--fade-in {
    opacity: 1; }
.pswp__share-modal--fade-in .pswp__share-tooltip {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

/* increase size of share links on touch devices */
.pswp--touch .pswp__share-tooltip a {
    padding: 16px 12px; }

a.pswp__share--facebook:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: -12px;
    right: 15px;
    border: 6px solid transparent;
    border-bottom-color: #FFF;
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none; }

a.pswp__share--facebook:hover {
    background: #3E5C9A;
    color: #FFF; }
a.pswp__share--facebook:hover:before {
    border-bottom-color: #3E5C9A; }

a.pswp__share--twitter:hover {
    background: #55ACEE;
    color: #FFF; }

a.pswp__share--pinterest:hover {
    background: #CCC;
    color: #CE272D; }

a.pswp__share--download:hover {
    background: #DDD; }

/*
	3. Index indicator ("1 of X" counter)
 */
.pswp__counter {
    position: absolute;
    left: 0;
    top: 0;
    height: 44px;
    font-size: 13px;
    line-height: 44px;
    color: #FFF;
    opacity: 0.75;
    padding: 0 10px; }

/*

	4. Caption
 */
.pswp__caption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 44px; }
.pswp__caption small {
    font-size: 11px;
    color: #BBB; }

.pswp__caption__center {
    text-align: left;
    max-width: 420px;
    margin: 0 auto;
    font-size: 13px;
    padding: 10px;
    line-height: 20px;
    color: #CCC; }

.pswp__caption--empty {
    display: none; }

/* Fake caption element, used to calculate height of next/prev image */
.pswp__caption--fake {
    visibility: hidden; }

/*
	5. Loading indicator (preloader)
	You can play with it here - http://codepen.io/dimsemenov/pen/yyBWoR
 */
.pswp__preloader {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -22px;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-out;
    transition: opacity 0.25s ease-out;
    will-change: opacity;
    direction: ltr; }

.pswp__preloader__icn {
    width: 20px;
    height: 20px;
    margin: 12px; }

.pswp__preloader--active {
    opacity: 1; }
.pswp__preloader--active .pswp__preloader__icn {
    /* We use .gif in browsers that don't support CSS animation */
    background: url(../img/preloader.gif) 0 0 no-repeat; }

.pswp--css_animation .pswp__preloader--active {
    opacity: 1; }
.pswp--css_animation .pswp__preloader--active .pswp__preloader__icn {
    -webkit-animation: clockwise 500ms linear infinite;
    animation: clockwise 500ms linear infinite; }
.pswp--css_animation .pswp__preloader--active .pswp__preloader__donut {
    -webkit-animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
    animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite; }

.pswp--css_animation .pswp__preloader__icn {
    background: none;
    opacity: 0.75;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 15px;
    top: 15px;
    margin: 0; }

.pswp--css_animation .pswp__preloader__cut {
    /*
              The idea of animating inner circle is based on Polymer ("material") loading indicator
               by Keanu Lee https://blog.keanulee.com/2014/10/20/the-tale-of-three-spinners.html
          */
    position: relative;
    width: 7px;
    height: 14px;
    overflow: hidden; }

.pswp--css_animation .pswp__preloader__donut {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    border: 2px solid #FFF;
    border-radius: 50%;
    border-left-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    margin: 0; }

@media screen and (max-width: 1024px) {
    .pswp__preloader {
        position: relative;
        left: auto;
        top: auto;
        margin: 0;
        float: right; } }

@-webkit-keyframes clockwise {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg); }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); } }

@keyframes clockwise {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg); }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); } }

@-webkit-keyframes donut-rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0); }
    50% {
        -webkit-transform: rotate(-140deg);
        transform: rotate(-140deg); }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0); } }

@keyframes donut-rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0); }
    50% {
        -webkit-transform: rotate(-140deg);
        transform: rotate(-140deg); }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0); } }

/*

	6. Additional styles
 */
/* root element of UI */
.pswp__ui {
    -webkit-font-smoothing: auto;
    visibility: visible;
    opacity: 1;
    z-index: 1550; }

/* top black bar with buttons and "1 of X" indicator */
.pswp__top-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 44px;
    width: 100%; }

.pswp__caption,
.pswp__top-bar,
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
    -webkit-backface-visibility: hidden;
    will-change: opacity;
    -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
    transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

/* pswp--has_mouse class is added only when two subsequent mousemove events occur */
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
    visibility: visible; }

.pswp__top-bar,
.pswp__caption {
    background-color: rgba(0, 0, 0, 0.5); }

/* pswp__ui--fit class is added when main image "fits" between top bar and bottom bar (caption) */
.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
    background-color: rgba(0, 0, 0, 0.3); }

/* pswp__ui--idle class is added when mouse isn't moving for several seconds (JS option timeToIdle) */
.pswp__ui--idle .pswp__top-bar {
    opacity: 0; }

.pswp__ui--idle .pswp__button--arrow--left,
.pswp__ui--idle .pswp__button--arrow--right {
    opacity: 0; }

/*
	pswp__ui--hidden class is added when controls are hidden
	e.g. when user taps to toggle visibility of controls
*/
.pswp__ui--hidden .pswp__top-bar,
.pswp__ui--hidden .pswp__caption,
.pswp__ui--hidden .pswp__button--arrow--left,
.pswp__ui--hidden .pswp__button--arrow--right {
    /* Force paint & create composition layer for controls. */
    opacity: 0.001; }

/* pswp__ui--one-slide class is added when there is just one item in gallery */
.pswp__ui--one-slide .pswp__button--arrow--left,
.pswp__ui--one-slide .pswp__button--arrow--right,
.pswp__ui--one-slide .pswp__counter {
    display: none; }

.pswp__element--disabled {
    display: none !important; }

.pswp--minimal--dark .pswp__top-bar {
    background: none; }

.photo-gallery {
    margin: 0 -5px;
}

.photo-gallery:after {
    content: " ";
    display: table;
    clear: both;
}

.photo-gallery-item {
    padding: 5px;
    cursor: -webkit-zoom-in;
    display: block;
    float: left;
    width: 20%;
}

.photo-gallery-item:first-child {
    padding-top: 5px !important;
}

.photo-gallery-item img {
    display: block;
    border: 4px solid #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    max-width: 100%;
    height: auto;
    width: auto;
}

.photo-gallery--start-large .photo-gallery-item {
    width: 25%;
}

.photo-gallery--start-large .photo-gallery-item:nth-child(1) {
    width: 50%;
}

/* Party Items */
#content .party-item {
    margin-bottom: 20px;
    position: relative;
}

#content .party-item header {
    color: #fff;
    position: relative;
    overflow: hidden;
}

#content .party-item header:before {
    content: "";
    background: #000;
    display: block;
    width: 70px;
    height: 100%;
    position: absolute;
    left: calc(40% - 58px);
    z-index: 2;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -moz-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
}

#content .party-item.party-item--right header:before {
    left: auto;
    right: calc(40% - 60px);
    z-index: 2;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -moz-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    -webkit-transform: skewX(10deg);
    transform: skewX(10deg);
}

#content .party-item header:after {
    content: " ";
    display: table;
    clear: both;
}

#content .party-item article,
#content .party-item--info {
    padding: 20px;
}

#content .party-item article {
    border: 1px solid #ddd;
    border-top: 0;
}

#content .party-item--info {
    width: 40%;
    background: #000;
    top: 0;
    bottom: 0;
    left: 0;
    position: relative;
    z-index: 3;
    padding-right: 0;
}
#content .party-item.party-item--right .party-item--info {
    float: right;
    text-align: right;
    padding-right: 20px;
    padding-left: 0;
}

#content .party-item--title,
#content .party-item--sub-title {
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
}

#content .party-item--title {
    color: #fff;
    font-size: 36px;
}

#content .party-item--sub-title {
    color: #23aeff;
    font-size: 24px;
    font-family: 'Helvetica Neue Bold', Arial;
}

#content .party--bullet-points {
    margin: 0;
    line-height: 1.3;
    padding: 5px 0 0 18px;
    white-space: nowrap;
}

#content .party-item.party-item--right .party--bullet-points {
    padding-left: 0;
}

#content .party-item.party-item--right .party--bullet-points li {
    list-style: none;
}

#content .party-item.party-item--right .party--bullet-points li:after {
    content: " •";
}

#content .party-item--image {
    position: absolute;
    width: 58%;
    top: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    z-index: 1;
}

#content .party-item--image img {
    height: 100%;
    width: auto;
    max-width: 1000%;
}
#content .party-item.party-item--right .party-item--image {
    right: auto;
    left: 0;
}

#content .party-item--cta-button {
    display: block;
    transition: background-color .3s;
    background-color:#23aeff;
    text-indent:0;
    color:#fff;
    font-size:18px;
    font-weight:bold;
    font-style:normal;
    height: 45px;
    line-height: 45px;
    width: 150px;
    text-decoration:none;
    text-align:center;

    position: absolute;
    right: 0;
    top: 112px;
    z-index: 5;
}

#content .party-item.party-item--right .party-item--cta-button {
    right: auto;
    left: 0;
}

#content .party-item--cta-button .fa {
    font-size: 16px;
    margin-left: 5px;
}

#content .party-item--cta-button:hover {
    cursor: pointer;
    background-color: #68c7ff;
}

/* Testimonials */
.testimonials--in-page {
    margin-top: 10px;
}

.testimonial--in-page {
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    overflow: hidden;
}

.testimonial--in-page:first-child {
    border-top: 1px solid #ddd;
    padding-top: 15px !important;
}

.testimonial--in-page:nth-child(n+5) {
    max-height: 0;
    padding: 0;
    border: 0;
}

.testimonials--in-page.show-all .testimonial--in-page {
    max-height: 1000px;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.testimonial--in-page .testimonial--title-row {
    display: table;
    width: 100%;
    padding-bottom: 5px;
}

.testimonial--in-page .testimonial--title-row .fa {
    display: table-cell;
    color: #ccc;
    filter: progid:DXImageTransform.Microsoft.BasicImage(mirror=1);
    transform: rotateY(180deg);
    font-size: 30px;
    vertical-align: top;
    padding-left: 15px;
}

.testimonial--in-page .testimonial--title {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    font-style: italic;
    color: #666;
}

.testimonial--in-page .testimonial--title h4:after {
    content: "\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f005";
    display: block;
    font-family: FontAwesome;
    font-size: 12px;
    color: #ffa500;
}

.testimonial--in-page .testimonial--title-row h4 {
    font-family: 'Helvetica Neue Bold', Arial, sans-serif;
    margin: 0 0 3px;
    font-size: 20px;
}

.testimonial--in-page article {
    padding-left: 44px;
}

/* TODO: merge this styling will all other buttons */
#content .testimonials--load-more {
    display: block;
    transition: background-color .3s;
    background-color:#23aeff;
    text-indent:0;
    color:#fff;
    font-size:18px;
    font-weight:bold;
    font-style:normal;
    height: 45px;
    line-height: 45px;
    width: 150px;
    text-decoration:none;
    text-align:center;
    margin: 20px auto;
}

#content .testimonials--load-more  .fa {
    font-size: 16px;
}

#content .testimonials--load-more:hover {
    cursor: pointer;
    background-color: #68c7ff;
}
