

<div class="video-container home">

    <ul class="slideshow">
        {% include "_homepage/slideshow" %}
    </ul>

	<iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/QzxMbUI9vH4?rel=0&amp;controls=0&amp;autoplay=1&amp;enablejsapi=1" frameborder="0" allowfullscreen></iframe>

</div>

<script>
	var tag = document.createElement('script');
	
	tag.src = "https://www.youtube.com/iframe_api";
	var firstScriptTag = document.getElementsByTagName('script')[0];
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
	
	var player;
	
	function onYouTubeIframeAPIReady() {
		player = new YT.Player('video', {
			events: {
				'onReady': onPlayerReady
			}
		});
	}
	
	function onPlayerReady() {
		player.mute();
	}
</script>