{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% do craft.sproutSeo.meta({
	title: entry.title ~ " - Proactivity News",
	ogTitle: "Proactivity News: " ~ entry.title,
	ogType: 'article',
}) %}

{% extends "_layout" %}

{% block content %}
	<article>
		<h1>{{ entry.title }}</h1>
		<p><strong>Posted on {{ entry.postDate.format('F d, Y') }}</strong></p>
		<br />
		{% include "_generic/content_matrix" %}
		<br />
		<hr />
		<p><a class="back" href="{{ url('news.html') }}">News</a></p>
		<div id="disqus_thread"></div>
		<script>
		/*
		var disqus_config = function () {
		this.page.url = '{{ entry.url }}'
		this.page.identifier = {{ entry.id }}
		};
		*/
		(function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');

		s.src = '//www-proactivity-com-au.disqus.com/embed.js';

		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
	</article>
{% endblock %}
