{% for post in craft.entries.section('news').order('postDate DESC').find() %}
	<article class="news-article">
		<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
		<p>
			<strong>{{ post.postDate.format('M d, Y') }}</strong>
		</p>
		<p>{{ post.summary }}</p>
		<p><a href="{{ post.url }}">&gt;&gt; Read more</a></p>
	</article>
	<br />
{% endfor %}
