{#
 # Page Content include template
 # -----------------------------
 #
 # This template is used to output HTML for a "Page Content" Matrix field.
 #
 # An `entry` variable is expected to be defined.
-#}

{% macro getPosition(block) %}
	{%- spaceless %}
		{% set positionedTypes = ['text', 'pullQuote', 'image', 'quote'] %}
		{{ block.type.handle in positionedTypes and block.position ? block.position : 'center' }}
	{% endspaceless -%}
{% endmacro %}

{% from _self import getPosition %}

{% set prevType = null %}
{% set prevPosition = null %}
{% set nextType = null %}
{% set nextPosition = null %}
{% set closedLastRow = true %}
{% set blocks = entry.pageContent %}

{% for i, block in blocks %}

	{% set type = (nextType ?: block.type.handle) %}
	{% set position = (nextPosition ?: getPosition(block)~'') %}

	{% set nextType = (not loop.last ? blocks[i+1].type.handle) %}
	{% set nextPosition = (not loop.last ? getPosition(blocks[i+1])~'') %}

	{# Is this block floated to the left or right? #}
	{% set isFloat = position in ['left', 'right'] %}

	{# Is this a breakout block (a sole floated block before a centered block)? #}
	{% set isBreakout = (
		isFloat and
		type in ['pullQuote', 'image'] and
		(position == 'left' or prevPosition != 'left') and
		nextPosition == 'center'
	) %}

	{# Are we starting a new row? #}
	{% if position == 'full' %}
		<div class="flex flex-full">
	{% elseif closedLastRow %}
		<div class="flex">
		{% if type not in ['gallery', 'quote'] %}
			<div class="g1-flex4 g2-flex6
			{%- if (type == 'image' and position == 'center') %} g3-flex8 g3-offset2
			{%- else %} g3-flex10 g3-offset1{% endif -%}
			">
		{% endif %}
	{% endif %}

	{% if isFloat %}
		<div class="g1-flex4 g2-flex6 g3-flex6 flex-nested
		{%- if isBreakout %} breakout{% endif %}
		{%- if position == 'right' %} push{% endif -%}
		">
	{% endif %}

	{% switch type %}
		{% case 'newSection' %}
			<hr class="horz-rule">
			<h1 class="beta center">{{ block.sectionHeading }}</h1>

		{% case 'heading' %}
			<h{{ block.size }}>{{ block.heading }}</h{{ block.size }}>
			<br />
			
		{% case 'text' %}
			{{ block.text }}
			<br />

		{% case 'pullQuote' %}
			<div class="pullquote">
				<p class="delta center subfont caps">{{ block.pullQuote }}</p>
			</div>
			<br />

		{% case 'image' %}
			{% set image = block.image.first() %}
			{% if image %}
				{% if position == 'full' %}
					{% do image.setTransform({ width: 1440, height: 480 }) %}
				{% elseif position == 'center' %}
					{% do image.setTransform({ width: 600 }) %}
				{% elseif isBreakout %}
					{% do image.setTransform({ width: 460 }) %}
				{% else %}
					{% do image.setTransform({ width: 360 }) %}
				{% endif %}

				<p><img{% if position == 'full' %} class="contain-media"{% endif %} src="{{ image.url }}" alt="{{ image.title }}"></p>
				<br />
			{% endif %}

		{% case 'imageAndText' %}
			{% if block.heading != "" %}<h2>{{ block.heading }}</h2><br />{% endif %}
			{% set image = block.image.first() %}
			<div style="float: left; margin-right: 15px; margin-bottom: 10px;"><img src="{{ image.url }}" alt="{{ image.title }}"></div>
			{% if block.text != "" %}{{ block.text }}{% endif %}<br />

		{% case 'gallery' %}
			{% if block.images.count > 0 %}
			<div class="photo-gallery{% if block.images.count > 4 %} photo-gallery--start-large{% endif %}">
			{% for image in block.images %}
				<a class="photo-gallery-item" href="{{ image.getUrl }}" data-size="{{ image.width ~ 'x' ~ image.height }}">
					{% set img = loop.first and block.images.count > 4 ? image.getUrl('crop600x600') : image.getUrl('crop300x300') %}
					<img src="{{ img }}" alt="{{ image.title }}" />
				</a>
			{% endfor %}
			</div>
			<br style="clear: both;" />
			{% endif %}

		{% case 'quote' %}

			{# Are we giving it a custom BG color? #}
			{% set bgColor = position == 'full' and entry.backgroundColor != '#000000' ? entry.backgroundColor %}

			<blockquote class="blockquote{%- if bgColor %} reverse{% endif -%}"
			{%- if bgColor %} style="background-color: {{ bgColor }};"{% endif -%}
			>
				<div class="flex">
					<p>{{ block.quote }}</p>

					{% if block.attribution %}
						<footer>– <cite>{{ block.attribution }}</cite></footer>
					{% endif %}
				</div>
			</blockquote>
			<br />

		{% case 'form' %}
			
			{% if block.form[0] is defined %}			
			{{ craft.sproutForms.displayForm(block.form[0].handle) }}
			{% endif %}

	{% endswitch %}

	{% if isFloat %}
		</div>
	{% endif %}

	{# Are we closing this row? #}
	{% if not (
		(position == 'left' and nextPosition == 'right') or
		isBreakout
	) %}
		{% if position != 'full' and type not in ['gallery', 'quote'] %}
			</div>
		{% endif %}
		</div>
		{% set closedLastRow = true %}
	{% else %}
		{% set closedLastRow = false %}
	{% endif %}

	{% if type == 'heading' and not loop.first and prevType == 'newSection' %}
		<div class="flex">
			<div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
				<hr class="horz-rule">
			</div>
		</div>
	{% endif %}

	{% set prevType = type %}
	{% set prevPosition = position %}
{% endfor %}
