<div style="background-image: url(/img/services-panel.png); background-repeat: no-repeat; padding: 30px 70px 20px 70px;">
	<p style="font-weight: bold; font-size: 1.6em; color: #bd0000; margin: 0px; padding: 0px;">
		How Can We Help You?</p>
	<p style="font-weight: bold; font-size: 1.3em; line-height: 1.4em; margin: 0px; padding: 0px;">
		Click on a category from the menu above to read about the services we can provide for your School, Sporting Club, Council, Company or other Organisation.</p>
</div>
