	{%- do craft.sproutForms.addFieldVariables(_context) -%}

	{%- set label            = field.name is defined ? field.name : null %}
	{%- set instructions     = field.instructions is defined ? field.instructions : null %}
	{%- set name             = field.handle is defined ? field.handle : null %}
	{%- set required         = field.required is defined and field.required ? true : false %}
	{%- set renderingOptions = attribute(renderingOptions.fields, name) is defined ? attribute(renderingOptions
	.fields, name) : {} %}
	{%- set type             = field.type|lower %}
	{%- set id               = renderingOptions.id is defined ? renderingOptions.id : name %}
	{%- set class            = renderingOptions.class is defined ? renderingOptions.class : name ~ '-field' %}
	{%- set value            = element is not empty ? element.getFieldValue(name) : null %}
	{%- set errors           = element is not empty ? element.getErrors(name) : null %}
	{%- set errorClass       = renderingOptions.errorClass is defined ? renderingOptions.errorClass : 'errors' %}
	{%- set input            = formField.getInputHtml(field, value, field.settings, renderingOptions) %}

	{%- namespace formField.getNamespace() -%}

		{%- if formField.isPlainInput() -%}

			{{ input }}

		{%- else %}

			<div
				{%- if id %} id="{{ id }}-field"{% endif %} class="field {{ type }}
				{%- if class %} {{ class }}{% endif -%}
				{%- if errors %} {{ errorClass }}{% endif -%}
				{%- if required %} required{% endif -%}
				">
				{% if label or instructions -%}
				<div class="fieldLabel">
					{% if label -%}
						{%- if formField.hasMultipleLabels() -%}
							{{- label|raw -}}
						{%- else -%}
							<label{% if name %} for="{{ name }}"{% endif %}>
								{{- label|raw -}}:
							</label>
						{%- endif -%}
					{%- endif -%}
					{% if instructions %}

					<p class="instructions">{{ instructions|raw }}</p>
					{%- endif %}

				</div>
				{% endif -%}

				<div class="input">
					{{ input }}
				</div>
				{% include "errors" with { errors: errors } %}

			</div>
		{%- endif -%}
	{%- endnamespace -%}
