
<!-- Custom form created using the Sprout Forms form builder plugin v{{ craft.sproutForms.version }} - http://sprout.barrelstrengthdesign.com/craft-plugins/forms -->

{% set action = form.submitAction is empty ? 'sproutForms/entries/saveEntry' : 'sproutForms/entries/forwardEntry' %}
{%- set renderingOptions = renderingOptions is defined and renderingOptions is not empty ? renderingOptions : {} %}
{%- set errors      = entry.getErrors()|length ? entry.getErrors() : false %}
{%- set errorClass  = renderingOptions.errorClass is defined ? renderingOptions.errorClass : 'errors' %}
{%- set id          = renderingOptions.id is defined ? renderingOptions.id : form.handle ~ '-form' %}
{%- set class       = renderingOptions.class is defined ? renderingOptions.class : form.handle ~ '-form' -%}
{%- set redirectUri = form.redirectUri -%}

<form class="sidebarForm" method="post" accept-charset="utf-8" enctype="multipart/form-data"
	{%- if id %} id="{{ id }}"{% endif -%}
	{%- if class %} class="{{ class -}}{%- if errors %} {{ errorClass }}{% endif -%}"{% endif -%}
	>
	{{ getCsrfInput() }}
	<input type="hidden" name="action" value="{{ action }}">
	<input type="hidden" name="handle" value="{{ form.handle }}">
	{% if redirectUri is not empty -%}
		{% if redirectUri|slice(0, 1)|lower == '?' %}
			{%- set redirectUri = craft.request.getUrl()~redirectUri %}
		{% endif %}

		<input type="hidden" name="redirect" value="{{ redirectUri }}">
	{% endif %}

	<div class="fields">
		{{ body | raw }}
	</div>

	{% hook 'sproutForms.modifyForm' %}

	<div>
		<input class="submit" type="submit" value="{{ form.submitButtonText is not empty ? form.submitButtonText : 'Submit' }}">
	</div>
</form>

<!-- / Sprout Forms Craft CMS form builder plugin -->
