	{%- for tab in tabs -%}

		{%- set layoutFields = tab.getFields() %}

		<div class="tab">

			{% if displaySectionTitles -%}
				<h3>{{ tab.name }}</h3>
			{%- endif %}

			{% for layoutField in layoutFields -%}
				{%- set field     = layoutField.getField() -%}
				{%- set required  = layoutField.required -%}
				{%- set formField = craft.sproutForms.getRegisteredField(field.type) -%}

				{%- do field.setAttribute('required', layoutField.required) -%}

				{%- if formField -%}
					{% include "field" with {
						field:                field,
						element:              entry,
						required:             required,
						formField:            formField,
						renderingOptions:     renderingOptions,
						thirdPartySubmission: thirdPartySubmission,
					} only %}
				{%- endif %}
			{%- endfor %}

		</div>

	{%- endfor -%}
