{#
 # Coach entry template
 # -------------------
 #
 # This template gets loaded whenever a Coach entry’s URL is
 # requested. That’s because the Coach section’s Template setting is
 # set to “coach/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested Coach entry.coach
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% do craft.sproutSeo.meta({
	title: entry.title ~ " - Proactivity",
	ogTitle: "Proactivity Coach Profile: " ~ entry.title,
}) %}
{% if entry.coachPhoto.count > 0 %}
{% do craft.sproutSeo.meta({
	ogImage: entry.coachPhoto[0].getUrl('og600x600'),
	ogImageWidth: entry.coachPhoto[0].getWidth('og600x600'),
	ogImageHeight: entry.coachPhoto[0].getHeight('og600x600'),
	ogImageType: entry.coachPhoto[0].getMimeType('og600x600')
}) %}
{% endif %}

{% extends "_layout" %}

{% block content %}
	<article class="coach-detail">
		<h1>{{ entry.title }}</h1>
		<br />
		{% if entry.coachPhoto.count > 0 or entry.coachPrograms.count > 0 %}
		<div class="left">
		{% if entry.coachPhoto.count > 0 %}
			<img src="{{ entry.coachPhoto[0].getUrl('coachPhoto') }}" class="coach-photo" />
		{% endif %}
		{% if entry.coachPrograms.count > 0 %}
		<ul>
		{% for program in entry.coachPrograms %}
			<li><a href="{{ program.url }}">{{ program }}</a></li>
		{% endfor %}
		</ul>
		{% endif %}
		</div>
		{% endif %}
		{% if entry.coachAchievements != "" or entry.coachEducation != "" or entry.coachQualifications != "" %}
		<div class="right">
			{% if entry.coachAchievements != "" %}
			<h3>Sporting Achievement/Experience</h3>
			<p>{{ entry.coachAchievements | nl2br }}</p>
			{% endif %}
			{% if entry.coachEducation != "" %}
			<h3>Education</h3>
			<p>{{ entry.coachEducation | nl2br }}</p>
			{% endif %}
			{% if entry.coachQualifications != "" %}
			<h3>Coaching Qualifications/Experience</h3>
			<p>{{ entry.coachQualifications | nl2br }}</p>
			{% endif %}
		</div>
		{% endif %}
		{% if entry.pageContent %}
		<br style="clear: both;" />
		{% include "_generic/content_matrix" %}
		{% endif %}
		<hr />
		<p><a class="back" href="{{ url('coaches.html') }}">Coaches</a></p>
	</article>
{% endblock %}
