{% set indexFilter = '' %}
{% for tag in entry.indexFilter %}
{% set indexFilter = (indexFilter == '' ? 'filterTags:' : '') ~ indexFilter ~ (indexFilter != '' ? ' OR filterTags:' : '') ~ tag.title %}
{% endfor %}

{% set theseEntries = indexFilter == '' ? craft.entries.section('coaches') : craft.entries.section('coaches').search(indexFilter) %}

{% for coach in theseEntries.order('slug') %}
	<article class="coach-list">
		<div>
		{% if coach.coachPhoto[0] is defined %}
		<a href="{{ coach.url }}">
			<img src="{{ coach.coachPhoto[0].getUrl('coachThumbnail') }}" />
		</a>
		{% endif %}
		</div>
		<h2>
			<a href="{{ coach.url }}">{{ coach.title }}</a>
		</h2>
		{% if coach.coachPrograms.count > 0 %}
		<ul>
		{% for program in coach.coachPrograms %}
			<li>{{ program }}</li>
		{% endfor %}
		</ul>
		{% endif %}
	</article>
	<br style="clear: both;" />
{% endfor %}
