{% extends "sproutseo/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% if settingsTemplate is not defined or not settingsTemplate %}
	{% set settingsTemplate = 'general' %}
{% endif %}

{% set fullPageForm = true %}

{% set content %}

	<input type="hidden" name="action" value="sproutSeo/settings/saveSettings">
	<input type="hidden" name="redirect" value="sproutseo/settings/{{ settingsTemplate }}">

	{% namespace 'settings' %}
		{% include 'sproutseo/settings/_tabs/' ~ settingsTemplate %}
	{% endnamespace %}

  <div class="buttons">
    <input class="btn submit" type="submit" value="{{ 'Save'|t }}">
  </div>

{% endset %}