{#
 # Program entry template
 # -------------------
 #
 # This template gets loaded whenever a Program entry’s URL is
 # requested. That’s because the Program section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested Program entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% do craft.sproutSeo.meta({
	title: entry.title ~ " - Proactivity",
	ogTitle: "Proactivity Sports Program: " ~ entry.title,
}) %}
{% if entry.programPhoto.count > 0 %}
{% do craft.sproutSeo.meta({
	ogImage: entry.programPhoto[0].getUrl('og600x600'),
	ogImageWidth: entry.programPhoto[0].getWidth('og600x600'),
	ogImageHeight: entry.programPhoto[0].getHeight('og600x600'),
	ogImageType: entry.programPhoto[0].getMimeType('og600x600')
}) %}
{% endif %}

{% extends "_layout" %}

{% block content %}
	<article class="coach-detail">
		<h1>{{ entry.title }}</h1>
		<br />
		{% if entry.programPhoto.count > 0 %}
		<div class="left">
			<img src="{{ entry.programPhoto[0].getUrl('coachPhoto') }}" class="coach-photo" />
		</div>
		{% endif %}
		<div class="right">
			{% include "_generic/content_matrix" %}
		</div>
		<hr />
		<p><a class="back" href="{{ url('programs.html') }}">Programs</a></p>
	</article>
{% endblock %}
