{% set indexFilter = '' %}
{% for tag in entry.indexFilter %}
    {% set indexFilter = (indexFilter == '' ? 'filterTags:' : '') ~ indexFilter ~ (indexFilter != '' ? ' OR filterTags:' : '') ~ tag.title %}
{% endfor %}

{% set theseEntries = indexFilter == '' ? craft.entries.section('programs') : craft.entries.section('programs').search(indexFilter) %}

{% for program in theseEntries.order('title') %}
	<article class="coach-list">
		<div>
		{% if program.programPhoto[0] is defined %}
		<a href="{{ program.url }}">
			<img src="{{ program.programPhoto[0].getUrl('coachThumbnail') }}" />
		</a>
		{% endif %}
		</div>
		<h2>
			<a href="{{ program.url }}">{{ program.title }}</a>
		</h2>
		{{ program.programSummary }}
	</article>
	<br style="clear: both;" />
{% endfor %}
