{% extends "sproutseo/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% set title %}
  {% if not defaultId is empty %}
    {{ default.name }}
  {% else %}
    New Default
  {% endif %}
{% endset %}

{% set crumbs = [
	{ label: "Defaults"|t, url: url('sproutseo/defaults') }
] %}

{% set tabs = {
	default: {
		label: "Settings"|t,
		url: '#default-main'
	},
	main: {
		label: "Basic"|t,
		url: '#default-basic'
	},
	facebook: {
		label: "Facebook"|t,
		url: '#default-facebook'
	},
	twitter: {
		label: "Twitter"|t,
		url: '#default-twitter'
	},
	location: {
		label: "Location"|t,
		url: '#default-location'
	},
	publishinfo: {
		label: "Robots"|t,
		url: '#default-robots'
	},
} %}

{% set centered = true %}

{% set fullPageForm = true %}

{% if craft.request.getSegment(3) == 'new' %}
	{% set saveShortcutRedirect = url('sproutseo/defaults') %}
{% else %}
	{% set saveShortcutRedirect = url('sproutseo/defaults/' ~ defaultId) %}
{% endif %}

{# Set a field context so we can manage field visibility between the SEO Defaults and the Field Types #}
{% set fieldContext = 'defaults' %}

{# Map the `defaults` object to `values` so we can use the same templates for SEO Defaults and the Field Types #}
{% set values = default %}

{% block saveButton %}
	<div class="buttons">
		<input class="btn submit" type="submit" value="Save">
	</div>
{% endblock %}

{% block main %}

<div class="grid first">
	<div class="item">
		<div class="pane">

			{% include "_includes/tabs" %}

				<input type="hidden" name="action" value="sproutSeo/defaults/saveDefault">
				<input type="hidden" name="redirect" value="sproutseo/defaults">

				<input type="hidden" name="sproutseo_fields[id]" value="{{ defaultId }}">

				<div id="default-main">

					{{ forms.textField({
						label: "Name"|t,
						instructions: "Human readable default name"|t,
						id: "name",
						name: 'sproutseo_fields[name]',
						value: default.name,
						errors: '',
						required: true
					}) }}

					{{ forms.textField({
						label: "Short Name"|t,
						instructions: "Short name you will use to refer to your defaults in the code"|t,
						id: "handle",
						name: 'sproutseo_fields[handle]',
						value: default.handle,
						errors: '',
						required: true
					}) }}

					{% set globalFallbackId = craft.sproutSeo.globalFallbackId() %}

					{% if not globalFallbackId or (globalFallbackId == defaultId) %}
						{{ forms.checkboxField({
							label: "Use this default as my global fallback"|t,
							id: 'global-fallback',
							name: 'sproutseo_fields[globalFallback]',
							checked: default.globalFallback
						}) }}
					{% endif %}

				</div>

				<div id="default-basic" class="hidden">
					{% include 'sproutseo/_partials/fields/input' %}
				</div>

				<div id="default-robots" class="hidden">
					{% include 'sproutseo/_partials/fields/robots' %}
				</div>

				<div id="default-location" class="hidden">
					{% include 'sproutseo/_partials/fields/geo' %}
				</div>

				<div id="default-facebook" class="hidden">
					{% include 'sproutseo/_partials/fields/open-graph' with { values : default } %}
				</div>

				<div id="default-twitter" class="hidden">
					{% include 'sproutseo/_partials/fields/twitter-card' with { values : default } %}
				</div>

		</div>
	</div>
</div>

{% endblock %}

{% if default.name is not defined or not default.handle %}
	{% includeJs "new Craft.HandleGenerator('#name', '#handle');" %}
{% endif %}

{% includeJsResource "sproutseo/js/default.js" %}

{% set js %}

new Craft.SproutSeoDefault();

{% endset %}

{% includeJs js %}
