{% extends "sproutseo/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% set title = "Sitemap"|t %}

{% set priorityList = {
	'1.0': '1.0 ↑ Highest'|t,
	'0.9': '0.9',
	'0.8': '0.8',
	'0.7': '0.7',
	'0.6': '0.6',
	'0.5': '0.5',
	'0.4': '0.4',
	'0.3': '0.3',
	'0.2': '0.2',
	'0.1': '0.1',
	'0.0': '0.0 ↓ Lowest'|t
} %}

{% set frequencyList = {
	'always': 'Always'|t,
	'hourly': 'Hourly'|t,
	'daily': 'Daily'|t,
	'weekly': 'Weekly'|t,
	'monthly': 'Monthly'|t,
	'yearly': 'Yearly'|t,
	'never': 'Never'|t
} %}

{% macro isSelected(target) %}
	{% if target %}checked="checked"{% endif %}
{% endmacro %}
{% import _self as checkbox %}

{% set customPages = craft.sproutSeo.getAllCustomPages() %}
{% set sitemaps    = craft.sproutSeo.getAllSitemaps() %}
{% set customNames = craft.sproutSeo.getAllCustomNames() %}

{% set extraPageHeaderHtml %}
	<div class="buttons">
		<a class="btn submit add icon" href="{{ url('sproutseo/sitemap/newPage') }}">New page</a>
	</div>
{% endset %}

{% set content %}

	{% for type, elementGroups in sitemaps %}

		<table class="data fullwidth sitemap-settings">
			{%set name = attribute(customNames, type) is defined ? attribute(customNames, type) :  type %}
			<thead>
				<th style="padding-left:9px;width:50%">{{ name }} <span class="info">{{ "All of your " ~name~" that have unique URLs are listed here.  Enable each "~name~" you want to include in your sitemap."|t }}</span></th>
				<th style="width:15%;">{{ "Priority"|t }} {% if loop.index == 1 %} <span class="info">{{ "The priority of this URL relative to other URLs on your site. Valid values range from 0.0 to 1.0. This value does not affect how your pages are compared to pages on other sites—it only lets the search engines know which pages you deem most important for the crawlers." }}</span>{% endif %}</th>
				<th style="width:15%;">{{ "Change Frequency"|t }}{% if loop.index == 1 %}  <span class="info">{{ "The value 'always' should be used to describe documents that change each time they are accessed. The value 'never' should be used to describe archived URLs." }}</span> {% endif %}</th>
				<th style="width:8%;text-align: center;">{{ "Enabled"|t }} {% if loop.index == 1 %}<span class="info">{{ "Make the content in this section appear in your sitemap."|t }}</span>{% endif %}</th>
				<th class="thin"></th>
			</thead>
			<tbody>

			{% for elementGroup in elementGroups %}
				{% if elementGroup.name is defined %}
					{% set sitemap = null %}
					{% if elementGroup.settings is defined %}
						{% set sitemap = elementGroup.settings %}
					{% endif %}

					{% if sitemap.id is defined %}
						{% set sitemapId = sitemap.id %}
					{% else %}
					  {% set sitemapId = 'new-' ~ loop.index %}
					{% endif %}

					{# elementGroup => type- #}
					{% set sitemapId = type|lower~'-'~ sitemapId %}

					<tr data-rowid="{{ sitemapId }}" data-type="section">
						<td>
							<strong style="display:inline-block;padding:7px 10px;">
								{% if (sitemap.enabled is defined and sitemap.enabled == 1) %}
									<span class="status live"></span>
								{% else %}
									<span class="status disabled"></span>
								{% endif %}
								{{ elementGroup.name }}

								<input type="hidden" name="sitemap_fields[{{ sitemapId }}][id]" value="{{ sitemapId }}">
								<input type="hidden" name="sitemap_fields[{{ sitemapId }}][elementGroupId]" value="{{ elementGroup.id }}">

							</strong>
						</td>
						<td>
							{{ forms.selectField({
								name: 'sitemap_fields[' ~ sitemapId ~ '][priority]',
								options: priorityList,
								value: (sitemap.priority is defined ? sitemap.priority : 0.5),
								errors: "",
								required: false
							}) }}
						</td>
						<td>
							{{ forms.selectField({
								name: 'sitemap_fields[' ~ sitemapId ~ '][changeFrequency]',
								options: frequencyList,
								value: (sitemap.changeFrequency is defined ? sitemap.changeFrequency : 'weekly'),
								errors: "",
								required: false
							}) }}
						</td>
						<td style="text-align: center;">
							<input type="checkbox" name="sitemap_fields[{{ sitemapId }}][enabled]" {{ checkbox.isSelected((sitemap.enabled is defined and sitemap.enabled == 1) ? true : false) }}>
						</td>
						<td></td>
					</tr>
				{% endif %}
			{% endfor %}
			</tbody>
		</table>
		<br>
		
	{% endfor %}

	{% if customPages|length %}

	<table class="data fullwidth sitemap-settings custom-pages" id="custom-pages">
		<thead>
			<th style="padding-left:9px;width:50%">{{ "Custom URLs"|t }} <span class="info">{{ "Add any Custom URLs you wish to appear in your sitemap here." }}</span></th>
			<th style="width:15%;">{{ "Priority"|t }}</th>
			<th style="width:15%;">{{ "Change Frequency"|t }}</th>
			<th style="width:8%;text-align: center;">{{ "Enabled"|t }}</th>
			{# <th style="width:8%;"></th> #}
			<th class="thin"></th>
		</thead>
		<tbody>

			{% for page in customPages %}
				{% set sitemapId = "customUrl-"~page.id %}

				<tr data-rowid="{{ sitemapId }}" data-id="{{ page.id }}" data-name="{{ page.url }}">
					<td>
						<div style="display:inline-block;padding:7px 0 7px 10px;">
						{% if (page.enabled is defined and page.enabled == 1) %}
							<span class="status live"></span>
						{% else %}
							<span class="status disabled"></span>
						{% endif %}
						</div>

						<input type="hidden" name="sitemap_fields[{{ sitemapId }}][id]" value="{{ sitemapId }}">

						<input type="text" name="sitemap_fields[{{ sitemapId }}][url]" placeholder="{{ siteUrl }}custom" value="{{ page.url }}" class="sitemap-custom-url">
					</td>
					<td>
						{{ forms.selectField({
							name: 'sitemap_fields[' ~ sitemapId ~ '][priority]',
							options: priorityList,
							value: (page.priority is defined ? page.priority : 0.5),
							errors: "",
							required: false
						}) }}
					</td>
					<td>
						{{ forms.selectField({
							name: 'sitemap_fields[' ~ sitemapId ~ '][changeFrequency]',
							options: frequencyList,
							value: (page.changeFrequency is defined ? page.changeFrequency : 'weekly'),
							errors: "",
							required: false
						}) }}
					</td>
					<td style="text-align: center;">
						<input type="checkbox" name="sitemap_fields[{{ sitemapId }}][enabled]" {{ checkbox.isSelected((page.enabled is defined and page.enabled == 1) ? true : false) }}>
					</td>
					{# <td></td> #}
					<td>
						<a class="delete icon" title="Delete"></a>
					</td>
				</tr>

			{% endfor %}

		</tbody>
	</table>

	{% endif %}

	<style type="text/css">
	.sitemap-custom-url:focus {
		border: 1px solid rgba(0, 0, 0, 0.15);
		padding: 6px 4px;
		outline: none;
	}
	.sitemap-custom-url {
		display: inline-block;
		margin-left:-4px;
		width: 85%;
		border: none;
		padding: 7px 5px;
		background: #fff;
		overflow: hidden;
	}
	.sitemap-settings {
		margin-top: 30px;
	}
	.sitemap-settings:first-of-type {
		margin-top: 0;
	}
	.sitemap-settings:last-of-type {
		margin-bottom: 30px;
	}
	</style>

{% endset %}

{% includeJsResource "sproutseo/js/sitemap.js" %}

{% set js %}
	new Craft.SproutSeoSitemap();

	new Craft.AdminTable({
		tableSelector: '#custom-pages',
		deleteAction: 'sproutSeo/sitemap/deleteCustomPage',
		onDeleteObject: function(id)
		{
			if($('#custom-pages').find('tbody').find('tr').size() == 0)
			{
				$('#custom-pages').show();
				$('#custom-pages').find('tbody').html('<tr id="no-sproutseo-results"><td colspan="4"><p>Add your first custom page.</p></td></tr>');
			}
		}
	});
{% endset %}

{% includeJs js %}
