{% import "_includes/forms" as forms %}

{% macro isSelected(target, string) %}
	{% if target in string %}checked="checked"{% endif %}
{% endmacro %}
{% import _self as checkbox %}

<div class="sproutseo-box">

	{% if fieldContext is defined and fieldContext == 'defaults' %}

		<h3>{{ "Canonical URL"|t }}</h3>

		<p>{{  "Canonical URL will default to the URL of the current page. Canonical URL cannot be overriden
			at the template level, however, it can be override with on-page or entry-specific overrides."|t }}</p>

	{% endif %}

	{% if fieldContext is defined and fieldContext == 'robots' %}
		{{ forms.textField({
			label: "Canonical"|t,
			name: "sproutseo_fields[canonical]",
			value: values.canonical
		}) }}
	{% endif %}

	{# This needs to be here to make sure the checkboxes work properly #}
	<input type="hidden" name="sproutseo_fields[robots]" value="">

	<h3>{{ "Robots - Basic"|t }}</h3>
	<div>
		{{ forms.checkbox({
			label: "noindex",
			id: "noindex-choice",
			name: "sproutseo_fields[robots][]",
			value: "noindex",
			reverseToggle: "single-uri-container",
			checked: ('noindex' in values.robots)
		}) }}
		<span class="info">{{ "I don't want this page to be indexed by search engines"|t }}</span>
	</div>
	<div>
		{{ forms.checkbox({
			label: "nofollow",
			id: "nofollow-choice",
			name: "sproutseo_fields[robots][]",
			value: "nofollow",
			reverseToggle: "single-uri-container",
			checked: ('nofollow' in values.robots)
		}) }}
		<span class="info">{{ "I don't want robots to follow links on this page"|t }}</span>
	</div>

	<h3>{{ "Robots - Advanced"|t }}</h3>

	{# Consider adding a link or posting a help article in our docs to clarify these:
	http://tech4sky.com/noodp-noarchive-nosnippet-noydir-meta-tag #}

	<div>
		{{ forms.checkbox({
			label: "noarchive",
			id: "noarchive-choice",
			name: "sproutseo_fields[robots][]",
			value: "noarchive",
			reverseToggle: "single-uri-container",
			checked: ('noarchive' in values.robots)
		}) }}
		<span class="info">{{ "I don't want search engines to provide archived versions of this page to users"|t }}</span>
	</div>
	<div>
		{{ forms.checkbox({
			label: "noimageindex",
			id: "noimageindex-choice",
			name: "sproutseo_fields[robots][]",
			value: "noimageindex",
			reverseToggle: "single-uri-container",
			checked: ('noimageindex' in values.robots)
		}) }}
		<span class="info">{{ "I don't want images on this page to be indexed by search engines"|t }}</span>
	</div>
	<div>
		{{ forms.checkbox({
			label: "nosnippet",
			id: "nosnippet-choice",
			name: "sproutseo_fields[robots][]",
			value: "nosnippet",
			reverseToggle: "single-uri-container",
			checked: ('nosnippet' in values.robots)
		}) }}
		<span class="info">{{ "I don't want Google to cache this page or display a description below the page in search
		results"|t }}</span>
	</div>
	<div>
		{{ forms.checkbox({
			label: "noodp",
			id: "noodp-choice",
			name: "sproutseo_fields[robots][]",
			value: "noodp",
			reverseToggle: "single-uri-container",
			checked: ('noodp' in values.robots)
		}) }}
		<span class="info">{{ "I don't want Google to use the Open Directory Project (ODP) description for this page. I
		want Google to use the description on the website."|t }}</span>
	</div>
	<div>
		{{ forms.checkbox({
			label: "noydir",
			id: "noydir-choice",
			name: "sproutseo_fields[robots][]",
			value: "noydir",
			reverseToggle: "single-uri-container",
			checked: ('noydir' in values.robots)
		}) }}
		<span class="info">{{ "I don't want Bing or Yahoo! to use the Yahoo! Directory titles and descriptions for this
		page.  I want Bing and Yahoo! to use the titles and descriptions on the website."|t }}</span>
	</div>
</div>

{% includeCssResource "sproutseo/css/fields.css" %}