/* .sproutseo-box {
	background-color: #f5f5f5;
	background-color: rgb(235, 237, 239);
	border:1px solid #ebebeb;
	padding:20px;
	padding-top: 21px;
}
 */
#fields-twitterImage {
	margin-bottom: 21px;
}

.sproutseo-fields {
	margin-bottom: 28px;
}
