{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}
{% if entry is defined %}
{% do craft.sproutSeo.meta({ogUrl: entry.url()}) %}
{% endif %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta charset="utf-8" />
{{ craft.sproutSeo.optimize() }}
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8"/>
<meta http-equiv="content-style-type" content="text/css"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="google-site-verification" content="-LSpfsDByunASjzik9wi0WYy8GZe0O9Lj7xxnkEi9yQ" />
<link rel="home" href="{{ siteUrl }}" />
<link rel="stylesheet" href="/css/foundation.css" />
<link href="/css/screen.css?201609182501" rel="stylesheet" type="text/css" media="screen" />
<link href="/css/all.css?201609182501" rel="stylesheet" type="text/css" media="all" />
<link href="/css/mobile.css?201609182501" rel="stylesheet" type="text/css" media="screen" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
<link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="//img/faviconapple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/img/favicon/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/img/favicon/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/img/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/img/favicon/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel="author" href="https://plus.google.com/104454905633555055397/posts" />

</head>

<body>

	{% include "_snippets/gtm" %}

	<div id="header" class="row">
		<div class="logo sixteen columns">
			<a href="{{ siteUrl }}" title="Proactivity">
			   <img src="/img/logo.png" alt="Proactivity Logo" />
			</a>
		</div>
		<label for="main-nav-check" class="toggle" onclick="" title="Menu"><i class="fa fa-bars"></i><span class="label">Menu</span></label>
	</div>

	{% set navigation = craft.navee.getNav('mainNavigation', { 'skipDisabledEntries' : true }) %}

	<input type="checkbox" name="nav" id="main-nav-check">
	<div id="menu_bg">
		<div id="menu" class="menu">
            <ul>
                <li class="back close"><label for="main-nav-check" class="toggle" onclick="" title="Close"><i class="fa fa-times"></i></label></li>
                {% nav node in navigation %}
                    {% set showDownChevron = node.hasDescendants() and node.level == 1 %}
                    {% set nodeClass = (node.class ? node.class : '') ~ (showDownChevron ? ' dropdown' : '') %}
                    <li{% if nodeClass != '' %} class="{{ nodeClass }}"{% endif %}>
                        {% if node.hasDescendants() %}<label for="nav{{ node.id }}" class="toggle-sub"><i class="fa fa-chevron-right"></i></label>{% endif %}
                        <a href="{{ node.link }}">{% for asset in node.navigationImage %}<img src="{{ asset.url }}" alt="{{ asset.title }}">{% endfor %}{% if node.level > 1 %}<i class="fa fa-chevron-circle-right"></i>{% endif %}{{ node.title }}{% if showDownChevron %}<i class="fa fa-chevron-down"></i>{% endif %}</a>
                        {% if node.navigationBlurb %}<p>{{ node.navigationBlurb }}</p>{% endif %}
                        {% if node.hasDescendants() %}<input type="checkbox" name="nav" id="nav{{ node.id }}" class="sub-nav-check">{% endif %}
                        {% ifchildren %}
                            <ul class="{{node.level == 1 ? 'mega-menu' : 'sub-menu' }}">
                                <li class="back"><label for="nav{{ node.id }}" class="toggle" title="Back"><i class="fa fa-chevron-left"></i> Back</label></li>
                                {% children %}
                            </ul>
                        {% endifchildren %}
                    </li>
                {% endnav %}
            </ul>
			<label class="toggle close-all"><i class="fa fa-times"></i></label>
		</div>
	</div>
	<div id="menu_bg_bottom"></div>
	
	{% if entry is defined and (entry.type == "homepage") %}
	<div class="row">

		<div id="banner" class="sixteen columns">
            
            {% include "_homepage/video" %}

		</div>
	</div>
	{% endif %}
		
		<div id="middle" class="row{% if entry is defined and entry.type == "homepage" %} middle-home{% endif %}">
		
			{% if entry is defined and (entry.slug != "contact-us") %}
				<div id="content" class="eleven columns">
			{% else %}			
				<div id="content" class="sixteen columns">
			{% endif %}
			
				{% block content %}{% endblock %}
		
			</div>

			{% if entry is defined and entry.slug != "contact-us" and entry.slug != "recruitment" %}

				<div id="side" class="five columns">
				
					<div id="call">
					
						<p>
							<a href="{{ url('contact-us.html') }}" title="Contact Us">
								Call us<br />
								(03) <strong>9720 3650</strong>
							</a>
						</p>

						<h2>Quick Contact</h2>

						<p style="margin:0; padding:0;">Have a question? Email us now!</p>

						{{ craft.sproutForms.displayForm('sidebar_contact_form') }}

					</div>

					<div id="testimonials">

						<h3>Our Happy Clients</h3>

						<ul class="bxslider">
							<li>"The Martial Arts session was fantastic, I was very happy with how it ran and all students were engaged at all times" - Olivia Rahme (Alphington Grammar)</li>
							<li>"Mick was outstanding, great skills in delivery and fun. The students were engaged and motivated. He catered for their needs perfectly. He covered exactly what was  in the brief and the VCAL students have gained some valuable skills." - Kirsty Sanderson (Emmaus College)</li>
							<li>"From the very beginning, the booking process was smooth and flexible and that rolled into a well organised and successful program at our school. The students were engaged and thoroughly enjoyed their experience. We look forward to continuing our relationship in the coming years." - Michael James (East Doncaster Secondary College)</li>
							<li>"The whole experience was super, super awesome. Thanks for the professional approach. On such a busy night for the teaching staff you ran the night well, requiring no special effort from teachers but to have fun and enjoy the experience. Fantastic!" - <strong>Kalinda Primary School</strong></li>
							<li>"Everything was extremely well organised from the initial contact through to the running of the evening. We received an email outlining possible activities and a quote within 2 hours of our initial phone call. The coaches arrived well before time to set up for the evening and ran the activities extremely well." - <strong>Knox Gardens Primary School</strong></li>
							<li>"The clinic and coaches were super organised and the children were engaged from the beginning to the end of the session. The activities were well suited to the age of the children and kept them highly active. The feedback from the children was extremly positive." - <strong>Yarra Road Primary School</strong></li>
							<li>"Wonderful activities and students said “this was the best day of the holiday program yet!" - <strong>Melbourne Grammar School</strong></li>
							<li>"The Holiday Clinic was great and all the children enjoyed it very much. We were most impressed with the fact that the children were totally absorbed for the whole time, after which they told us that it was the best day ever!" - <strong>Bialik College</strong></li>
							<li>"Well organised and structured program. Kids really enjoyed it and didn't stop talking about it for the rest of the day!" - <strong>Pinewood Primary School</strong></li>
							<li>"The team at Proactivity have enriched our Physical Education and Sport programs at Koonung. The staff are reliable, enthusiastic and always looking to tailor make sessions to best suits our students." - <strong>Koonung Secondary College</strong></li>
							<li>"The children were very excited. They had a great time. Loved the ball games and giants theasure. Parents were very impressed." - <strong>Monbulk Preschool</strong></li>
							<li>"The program was presented in a reliable and punctual fashion and the children were actively involved in appropriate activities. Several parents have commented in our communication book that there child is really enjoying their sessions and talking about the activities at home." - <strong>Croydon Central Kindergarten</strong></li>
							<li>"You guys did a great job. Very pleased with how it all went and would certainly use you again." - <strong>Shire Of Yarra Ranges Youth Services</strong></li>
							<li>"Just wanted to extend a big thank you to you and your team from MCRI for your amazing support and involvement in Discovery Day 2013. Feedback from the day has been great and the kids loved having you there. My son in particular got a thrill from taking speckies over and over!" - <strong>Murdoch Childrens Research Institute Discovery Day</strong></li>
							<li>"I’d just like to thank Proactivity and especially Paul, Rob and Simon for their amazing effort with the kids at the Game On day today. It was great to see the kids having fun, enjoying the program and really getting involved in the dancing and other activities." - <strong>Extended Families Australia</strong></li>
							<li>"I highly recommend Proactivity for anyone looking for an active, exciting and varied sports program. I have had the team come out to run clinics on many occasions, and have always been extremely impressed with their clinics. The enthusiasm and sense of fun from the staff are contagious!" - <strong>Bayside City Council</strong></li>
							<li>"The teachers have raved about you and your staff, not only saying how organized and professional you were but how much fun and engaging the activities were to each and every child. We will definitely be getting you guys to come back and do more clinics this year and next." - <strong>Galilee Regional Catholic Primary School</strong></li>
						</ul>

					</div>
					
					<div id="social" class="content-white-bg">
						<h5 style="margin-top: 20px;">Follow us</h5>
						<p style="margin-bottom:0;">
							<a href="https://www.facebook.com/proactivity" target="_blank" class="social social-facebook"><span class="fa fa-facebook fa-2x"></span></a>
							<a href="https://twitter.com/Proactivity07" target="_blank" class="social social-twitter"><span class="fa fa-twitter fa-2x"></span></a>
							<a href="https://www.instagram.com/proactivityaus/" target="_blank" class="social social-instagram"><span class="fa fa-instagram fa-2x"></span></a>
						</p>

					</div>

				</div><!-- side -->
			
			{% endif %}
			
			<br class="clear" />
			
		</div>
		
		<div id="footer" class="sixteen columns">

			Copyright &copy; {{ now.year }}, Proactivity Pty Ltd (ABN: 35 151 901 647) | <a href="{{ url('feedback.html') }}" title="Proactivity Online Feedback Form">Feedback?</a>
			| <a href="{{ url('privacy.html') }}" title="Proactivity Privacy Policy">Privacy Policy</a>
		</div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="/js/all.min.js?201609182501" type="text/javascript"></script>

	{# Interractive Client Logos #}
    
  	{% if entry is defined and entry.type == "homepage" %}
        
        <script type="text/javascript">
        
			{# /* All images need to be loaded for this plugin to work so we end up waiting for the whole window to load in this example */ #}
			$(window).load(function () {
				$(document).ready(function(){
					collage();
					$('.Collage').collageCaption();
				});
			});
			
			
			{# /* Here we apply the actual CollagePlus plugin */ #}
			function collage() {
				$('.Collage').removeWhitespace().collagePlus(
					{
						'fadeSpeed'     : 2000,
						'targetHeight'  : 200,
						'effect'        : 'effect-4',
						'direction'     : 'vertical'
					}
				);
			};
			
			{# /* This is just for the case that the browser window is resized */ #}
			var resizeTimer = null;
			$(window).bind('resize', function() {
				{# /* hide all the images until we resize them */ #}
				$('.Collage .Image_Wrapper').css("opacity", 0);
				{# /* set a timer to re-apply the plugin */ #}
				if (resizeTimer) clearTimeout(resizeTimer);
				resizeTimer = setTimeout(collage, 200);
			});
        
        </script>
	{% endif %}


	<!-- Root element of PhotoSwipe. Must have class pswp. -->
	<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

		<!-- Background of PhotoSwipe.
             It's a separate element as animating opacity is faster than rgba(). -->
		<div class="pswp__bg"></div>

		<!-- Slides wrapper with overflow:hidden. -->
		<div class="pswp__scroll-wrap">

			<!-- Container that holds slides.
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
			<div class="pswp__container">
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
			</div>

			<!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
			<div class="pswp__ui pswp__ui--hidden">

				<div class="pswp__top-bar">

					<!--  Controls are self-explanatory. Order can be changed. -->

					<div class="pswp__counter"></div>

					<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

					<button class="pswp__button pswp__button--share" title="Share"></button>

					<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

					<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

					<!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
					<!-- element will get class pswp__preloader--active when preloader is running -->
					<div class="pswp__preloader">
						<div class="pswp__preloader__icn">
							<div class="pswp__preloader__cut">
								<div class="pswp__preloader__donut"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
					<div class="pswp__share-tooltip"></div>
				</div>

				<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
				</button>

				<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
				</button>

				<div class="pswp__caption">
					<div class="pswp__caption__center"></div>
				</div>

			</div>

		</div>

	</div>

</body>
</html>
